.cart {
 /* background: #ab9797;
  padding: 5px;
  right: 50px;
  top: 0px;
  width: 80%;
  margin-right: initial;*/

}

.cart h4 {
  border-bottom: 2px solid black
}
.cart img {
  aspect-ratio: 16/9;
  width: 100%;
}

.cart li {
  border-bottom: 1px solid #444;
  padding-bottom: 16px;
}

.cart footer {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.cart footer button {
  padding: 5px;
  border-radius: 2px;
}
.cart footer button {
  padding: 5px;
  border-radius: 2px;
}
.cart-button {
  align-items: center;
  background: #09f;
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  padding: 4px;
  position: absolute;
  right: 8px;
  top: 8px;
  transition: all .3s ease;
  width: 32px;
  z-index: 9999;
}

.cart-button:hover {
  scale: 1.1;
}

.cart-button ~ input:checked ~ .cart {
  height: 100%;
  display: block;
}
small{
  font-weight: bold;
  color: #8501da;
}
.circle-background {
  display: inline-block;
  padding: 4px;
  border-radius: 50%;
  background: rgb(133, 1, 218);
  color: #fff;
  font-size: 12px;
  text-align: left;
  line-height: 1;
  float: left;
}